<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- SECURITY WARNING - DO NOT COMMIT THIS!! -->
		<add key="WordPressUsername" value="admin" />
		<add key="WordPressPassword" value="kxp852456" />
		<add key="WordPressBaseUrl" value="http://mozills.org" />
		<add key="WordPressBlogId" value="1" />
		<!-- / SECURITY WARNING - DO NOT COMMIT THIS!! -->
	</appSettings>
</configuration>